<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Teachable Machine
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>

        <ion-button (click)="fileInput.click()">
          <ion-label id="label" >Seleccione un archivo</ion-label><ion-icon name="cloud-upload"></ion-icon>
        </ion-button>
        <input #fileInput type="file" accept="image/*"  (change)="onFileSelected($event)" hidden/>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
         
        <!-- CARGA DE IMAGEN - INICIO -->
        @if(imageReady()) {
          <div class="image-preview">
            <img [src]="imageUrl()" alt="Imagen seleccionada" />
          </div>
        }
        <!-- CARGA DE IMAGEN - FIN -->       

      </ion-col>
      <ion-col size="12">
         
        <!-- CARGA DE PREDICCIÓN - INICIO -->

        <!-- CARGA DE PREDICCIÓN - FIN -->

      </ion-col>
    </ion-row>
  </ion-grid> 

</ion-content>